body
{
	background-color: rgb(81, 80, 80);
	font-size: 10pt;
}
#body
{
	width: 1700px;
	min-height: 300px;
	margin: auto;
}

h1
{
	text-align: center;
}
a
{
	text-decoration: none;
}

.shadow
{
	-moz-box-shadow: 10px 10px 5px 0px #000000;
	-webkit-box-shadow: 10px 10px 5px 0px #000000;
	-o-box-shadow: 10px 10px 5px 0px #000000;
	box-shadow: 10px 10px 5px 0px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.header
{
	background-color: rgb(145, 145, 145);
	margin: auto;
	margin-top: 40px;
	width: 1420px;
	height: 135px;
}
.header .logo
{
	position: relative;
	float: left;
	margin: 10px 0px 10px 10px;
	width: auto;
	height: 115px;
}
.header .icons
{
	position: relative;
	float: right;
	width: auto;
	width: 20px;
	height: 115px;
}
.header .icons .reload
{
	position: absolute;
	float: right;
	top: 10px;
	right: 10px;
	width: auto;
	height: 20px;
}
.header .icons .close
{
	position: absolute;
	float: right;
	top: 100px;
	right: 10px;
	width: auto;
	height: 20px;
}
.header .loupe
{
	position: relative;
	float: right;
	margin: 10px;
	width: auto;
	height: 140px;
}

.content
{
	position: relative;
	width: 1360px;
	min-height: 425px;
	margin: auto;
	margin-top: 20px;
}
.content .col-left
{
	position: absolute;
	left: 0;
	background-color: rgb(145, 145, 145);
	width: 140px;
	height: 425px;
	
}
.content .col-left .arrow,
.content .col-left .main,
.content .col-left .oeil,
.content .col-left .outil,
.content .col-left .chat-icon
{
	position: relative;
	margin-top: 10px;
	margin-left: 35px;
	width: 70px;
	height: auto;
}
.content .col-left .oeil
{
	border: 2px solid red;
}
.content .col-center
{
	position: absolute;
	left: 170px;
	background-color: rgb(145, 145, 145);
	width: 1020px;
	height: 582px;
}
.content .col-center .cluster
{
	background: url('resources/cluster.jpg') no-repeat;
	background-size: 1000px 562px;
	margin: 10px;
	width: 1000px;
	height: 562px;
}
.content .col-center .cluster .zone-1
{
	position: absolute;
	display: block;
	top: 340px;
	left: 340px;
	width: 140px;
	height: 220px;
}
.content .col-center .cluster .zone-2
{
	position: absolute;
	display: block;
	top: 320px;
	left: 795px;
	width: 197px;
	height: 179px;
}
.content .col-right
{
	position: absolute;
	right: 0;
	background-color: rgb(145, 145, 145);
	width: 140px;
	height: 425px;
}
.content .col-right .livre
{
	position: absolute;
	top: 10px;
	right: 40px;
	width: 80px;
	height: auto;
}
.content .col-right .serviette
{
	position: absolute;
	top: 120px;
	right: 40px;
	width: 80px;
	height: auto;
}
.content .col-right .brickswall
{
	position: absolute;
	top: 178px;
	right: 10px;
	background: url('resources/brick.jpg') repeat;
	width: 120px;
	height: 70px;
}
.content .col-green
{
	position: absolute;
	top: 505px;
	left: -75px;
	background-color: rgb(136, 255, 137);
	width: 520px;
	height: 170px;
}
.content .col-green p
{
	margin: 10px;
	margin-top: 10px;
	font-size: 12pt;
	font-family: Verdana;
}
.content .col-green p .it
{
	font-style: italic;	
}
.content .col-green p .ombre
{
	text-shadow: 5px 5px 5px red;
}
.content .col-green p .big
{
	font-size: 28pt;
	font-family: Serif;
}
.content .col-green .input-text
{
	width: 380px;
	margin-left: 10px;
}
.content .col-green .input-submit
{
	width: 80px;
}